@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;

    --header-height: 7vh;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header-wrapper {
    background-color: #7413dc;
    width: 100vw;
    height: var(--header-height);
    padding: 2vh 3vw 2vh 3vw;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.header-wrapper>.left-wrapper {
    width: 30%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--header-height);
}

.header-wrapper>.left-wrapper>h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.header-wrapper>.right-wrapper {
    width: 25%;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 6vw;
    line-height: var(--header-height);
}

.header-wrapper>.right-wrapper>.nav-item>a {
    height: var(--header-height);
}

.header-wrapper>.right-wrapper>.nav-item>a>ion-icon {
    line-height: var(--header-height);
    height: var(--header-height);
    font-size: 2rem;
}

.main-wrapper {
    margin-top: 5vh;
    width: 70vw;
    margin-left: 15vw;
}

.main-wrapper>.top {
    --top-height: 5vh;

    height: var(--top-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-wrapper>.top>.title {
    height: var(--top-height);
    font-size: 1.7rem;
    font-weight: 800;
    /* margin-left: -5vw; */
    color: #003982;
}

.main-wrapper>.login-form {
    width: 20vw;
    border-radius: 20px;
    border: 1px solid rgba(120, 120, 120, 0.5);
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
