<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge Trading Prototype 1</title>
    <link rel="stylesheet" href="css/404.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/public-nav.css">
</head>

<body>
    <include src="public-nav.html"></include>

    <div class="main-wrapper">
        <!-- <span class="privacy-title">Terms of Service</span> -->

        <span class="code">404</span>
        <span class="desc">We can't find the page you were looking for.</span>
    </div>
    

    <include src="footer.html">Loading...</include>
    
    <script defer src="element-loading.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="mobile-nav.js"></script>
</body>
</html>