<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge Trading Prototype 1</title>
    <link rel="stylesheet" href="css/feed.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <div class="header-wrapper">
        <div class="left-wrapper">
            <h1 class="website-title" id="header-web-title">ScoutSwap</h1>
            <span aria-hidden="true" class="new-bdg-btn"></ion-icon></span>
        </div>

        <div class="right-wrapper">
            <div class="new-bdg-btn">
                <span><ion-icon name="add-circle-outline"></ion-icon></span>
            </div>
            <div class="nav-item">
                <a href="/feed/index.html"><ion-icon name="home-outline"></ion-icon></a>
            </div>
            <div class="nav-item">
                <a><ion-icon name="chatbubbles-outline"></ion-icon></a>
            </div>
            <div class="nav-item">
                <a><ion-icon name="person-circle-outline"></ion-icon></a>
            </div>
            <div class="nav-item">
                <a><ion-icon name="settings-outline"></ion-icon></a>
            </div>
        </div>
    </div>

    <div class="main-wrapper">
        <div class="top">
        <span class="latest-title">Latest Badge Posts</span>
        <div class="search-bar">
            <button><ion-icon name="filter-sharp"></ion-icon></button>
            <button><ion-icon name="search-sharp"></ion-icon></button>
            <input aria-hidden="true" type="text" name="search" id="search" placeholder="Search">
        </div>
    </div>
        <ul class="feed" id="feed">
            <li class="feed-item">
                <div class="actions">
                    <button><ion-icon name="send-sharp"></ion-icon></button>
                    <button><ion-icon name="bookmarks-sharp"></ion-icon></button>
                    <button class="report-btn"><ion-icon name="warning-sharp"></ion-icon></button>
                </div>
                <img src="IMG-20240827-WA0078.jpg">
                <span class="badge-name">UK Queen's Death</span>
                <div class="country">
                    <span> united kingdom</span>
                    <ion-icon name="location-sharp"></ion-icon>
                </div>
                <span class="badge-info">This badge was available after the Queen's death in 2022.</span>
                <div class="tags">
                    <span class="tag">UK</span>
                    <span class="tag">EVENT</span>
                    <span class="tag">INTERNATIONAL</span>
                    <span class="tag">QUEEN</span>
                    <span class="tag">MEMORIAL</span>
                </div>
                <span class="posted-by">posted by: john_doe</span>
            </li>
            <li class="feed-item">
                <div class="actions">
                    <button><ion-icon name="send-sharp"></ion-icon></button>
                    <button><ion-icon name="bookmarks-sharp"></ion-icon></button>
                    <button class="report-btn"><ion-icon name="warning-sharp"></ion-icon></button>
                </div>
                <img src="IMG-20240827-WA0078.jpg">
                <span class="badge-name">UK Queen's Death</span>
                <div class="country">
                    <span> united kingdom</span>
                    <ion-icon name="location-sharp"></ion-icon>
                </div>
                <span class="badge-info">This badge was available after the Queen's death in 2022.</span>
                <div class="tags">
                    <span class="tag">UK</span>
                    <span class="tag">EVENT</span>
                    <span class="tag">INTERNATIONAL</span>
                    <span class="tag">QUEEN</span>
                    <span class="tag">MEMORIAL</span>
                </div>
                <span class="posted-by">posted by: john_doe</span>
            </li>
            <li class="feed-item">
                <div class="actions">
                    <button><ion-icon name="send-sharp"></ion-icon></button>
                    <button><ion-icon name="bookmarks-sharp"></ion-icon></button>
                    <button class="report-btn"><ion-icon name="warning-sharp"></ion-icon></button>
                </div>
                <img src="IMG-20240827-WA0078.jpg">
                <span class="badge-name">UK Queen's Death</span>
                <div class="country">
                    <span> united kingdom</span>
                    <ion-icon name="location-sharp"></ion-icon>
                </div>
                <span class="badge-info">This badge was available after the Queen's death in 2022.</span>
                <div class="tags">
                    <span class="tag">UK</span>
                    <span class="tag">EVENT</span>
                    <span class="tag">INTERNATIONAL</span>
                    <span class="tag">QUEEN</span>
                    <span class="tag">MEMORIAL</span>
                </div>
                <span class="posted-by">posted by: john_doe</span>
            </li>
            <li class="feed-item">
                <div class="actions">
                    <button><ion-icon name="send-sharp"></ion-icon></button>
                    <button><ion-icon name="bookmarks-sharp"></ion-icon></button>
                    <button class="report-btn"><ion-icon name="warning-sharp"></ion-icon></button>
                </div>
                <img src="IMG-20240827-WA0078.jpg">
                <span class="badge-name">UK Queen's Death</span>
                <div class="country">
                    <span> united kingdom</span>
                    <ion-icon name="location-sharp"></ion-icon>
                </div>
                <span class="badge-info">This badge was available after the Queen's death in 2022.</span>
                <div class="tags">
                    <span class="tag">UK</span>
                    <span class="tag">EVENT</span>
                    <span class="tag">INTERNATIONAL</span>
                    <span class="tag">QUEEN</span>
                    <span class="tag">MEMORIAL</span>
                </div>
                <span class="posted-by">posted by: john_doe</span>
            </li>
        </ul>
    </div>

    <include src="footer.html">Loading...</include>
    
    <script>
        // FOOTER
        (() => {
            const includes = document.getElementsByTagName('include');
            [].forEach.call(includes, i => {
                let filePath = i.getAttribute('src');
                fetch(filePath).then(file => {
                    file.text().then(content => {
                        i.insertAdjacentHTML('afterend', content);
                        i.remove();
                    });
                });
            });
        })();
    </script>
    <!-- IP FETCHING WILL BE DONE WITH http://ip-api.com/json -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>