<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge Trading Prototype 1</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/public-nav.css">
</head>

<body>
    <include src="public-nav.html"></include>
    <div class="main-wrapper">
        <div class="hero-wrapper">
            <img src="HomeHero1.png" alt="A crowd of Scouts at Roverway 2024.">
            <div class="text-holder">
                <span>Discover.</span>
                <span>Chat.</span>
                <span>Trade.</span>
            </div>
        </div>
        <div class="what-is section">
            <div class="flex-container">
                <span class="title">What is ScoutSwap?</span>
                <span class="desc">ScoutSwap is a brand new trading site for badges, scarfs and more! Made for Scouts, by Scouts.</span>
            </div>
        </div>
        <div class="why-use section">
            <div class="flex-container">
                <span class="title">Why use ScoutSwap?</span>
                <span class="desc">We are dedicated to preventing scams and the other dangers that can sometimes come with online trading. Our mission is to create a safe platform where anyone from anywhere can trade.</span>
            </div>
        </div>
        <div class="how-much section">
            <div class="flex-container">
                <span class="title">How much does it cost?</span>
                <span class="desc">Our platform is absolutely 100% <b><u>FREE</u></b>! We rely on donations and advertisements to keep our service running.</span>
            </div>
        </div>
    </div>

    <include src="footer.html">Loading...</include>
    
    <script defer src="element-loading.js"></script>
    <!-- IP FETCHING WILL BE DONE WITH http://ip-api.com/json -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="mobile-nav.js"></script>
</body>

</html>