@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;

    --header-height: 4vh;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header-wrapper {
    background-color: #7413dc;
    width: 100vw;
    height: var(--header-height);
    padding: 2vh 3vw 2vh 3vw;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.header-wrapper>.left-wrapper {
    width: 30%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--header-height);
}

.header-wrapper>.left-wrapper>h1 {
    font-size: 1.5rem;
    font-weight: 800;
}
    
.header-wrapper>.right-wrapper {
    width: 40%;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 6vw;
    line-height: var(--header-height);
}

.header-wrapper>.right-wrapper>.new-bdg-btn>span>ion-icon {
    font-size: 1.5rem;
    line-height: var(--header-height);
    height: var(--header-height);
}

.header-wrapper>.right-wrapper>.nav-item>a {
    margin-left: 10px;
    height: var(--header-height);
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 1.5rem;
}

.header-wrapper>.right-wrapper>.new-bdg-btn>span {
    height: var(--header-height);
}
.header-wrapper>.right-wrapper>.nav-item>a:hover {
    color: rgb(200,200,200);
}

.main-wrapper {
    margin-top: 5vh;
    --main-wrapper-width: 90vw;
    width: var(--main-wrapper-width);
    margin-left: 5vw;
}
    
.main-wrapper>.top {
    --top-height: 15vh;

    height: var(--top-height);
    display: block;
    justify-content: space-between;
    align-items: center;
}
    
.main-wrapper>.top>.latest-title {
    height: var(--top-height);
    text-align: center;
    width: 90vw;
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 0;
    color: #003982;
}
    
.main-wrapper>.top>.search-bar {
    height: 5vh;
    padding: 0;
    margin-top: 0;
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-evenly;
}

.main-wrapper>.top>.search-bar>button {
    height: var(--top-height);
    padding: 0;
    border: none;
    background: none;
    margin-left: 5px;
}

.main-wrapper>.top>.search-bar>button:hover {
    cursor: pointer;
}

.main-wrapper>.top>.search-bar>button>ion-icon {
    height: var(--top-height);
    line-height: var(--top-height);
    color: rgb(120, 120, 120);
}

.main-wrapper>.top>.search-bar>input {
    margin-left: 5px;
    border: 1px solid rgba(120, 120, 120, 0.5);
    border-radius: 5px;
    color: black;
    padding: 3px;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}

.main-wrapper>.feed {
    width: var(--main-wrapper-width);
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    /* display: flex;
    flex-direction: column; */
    place-items: center;

    --feed-item-size: var(--main-wrapper-width);
}

.main-wrapper>.feed>.feed-item {
    margin-bottom: 5vh;
    width: var(--feed-item-size);
    list-style: none;
    border-radius: 20px;
    border: 1px solid rgba(120, 120, 120, 0.5);
    padding: 10px;
    margin-left: -10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    
    --top-line-height: 5vh;
}

.main-wrapper>.feed>.feed-item>.actions {
    width: var(--feed-item-size);
    height: 3vw;    
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: start;
    padding-top: 5px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(rgba(120,120,120,0.5), rgba(120,120,120,0));
}

.main-wrapper>.feed>.feed-item>.actions>button {
    padding: 0;
    margin: 0;
    height: 2vw;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    line-height: 2vw;
    margin-right: 10px;
    transition: all 0.2s ease;
}

.main-wrapper>.feed>.feed-item>.actions>button:hover {
    color: rgb(255,255,255);
    cursor: pointer;
}

.main-wrapper>.feed>.feed-item>.actions>button.report-btn:hover {
    color: rgb(220, 0, 0);
}

.main-wrapper>.feed>.feed-item>.actions>button>ion-icon {
    height: 2vw;
    line-height: 2vw;
    font-size: 1rem;
}

.main-wrapper>.feed>.feed-item>img {
    width: var(--feed-item-size);
    height: var(--feed-item-size); /* we want a square img (unless opened??) */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.main-wrapper>.feed>.feed-item>.badge-name {
    width: 95%;
    font-size: 1.3rem;
    color: black;
    font-weight: 800;
    line-height: var(--top-line-height);
    margin-left: 2.5%;
    margin-top: 1vh;
    display: block;
}

.main-wrapper>.feed>.feed-item>.country {
    width: 95%;
    margin-left: 2.5%;
    font-size: 1.1rem;
    color: rgb(50,50,50);
    display: flex;
    align-items: center;
    justify-content: left;
}

.main-wrapper>.feed>.feed-item>.country>span {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: rgb(50,50,50);
    font-weight: 900;
    text-align: left;
    display: block;
}

.main-wrapper>.feed>.feed-item>.country>ion-icon {
    font-size: 1.1rem;
    color: rgb(50,50,50);
    font-weight: 900;
    height: var(--top-line-height);
    line-height: var(--top-line-height);
    rotate: 10deg;
}

.main-wrapper>.feed>.feed-item>.badge-info {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 0.9rem;
    color: black;
    display: block;
}

.main-wrapper>.feed>.feed-item>.tags {
    --tag-height: 3vh;

    width: 100%;
    display: flex;
    height: var(--tag-height);
    margin-top: 10px;
    align-items: center;
    overflow-x: hidden;
}

.main-wrapper>.feed>.feed-item>.tags>.tag {
    height: var(--tag-height);
    line-height: var(--tag-height);
    padding-left: 5px;
    padding-right: 5px;
    background: #7413dc;
    color: white;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.8rem;
}

.main-wrapper>.feed>.feed-item>.posted-by {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 0.6rem;
    margin-top: 10px;
    font-weight: 800;
    color: rgb(50,50,50);
    display: block;
    text-transform: uppercase;
}

@media (min-width:641px)  {
    html {
        --header-height: 7vh;
    }

    .header-wrapper>.right-wrapper {
        width: 25%;
        justify-content: space-between;
    }

    .header-wrapper>.right-wrapper>.new-bdg-btn>span>ion-icon {
        font-size: 2rem;
    }

    .header-wrapper>.right-wrapper>.nav-item>a>ion-icon {
        font-size: 2rem;
    }

    .main-wrapper {
        --main-wrapper-width: 70vw;
        margin-left: 15vw;
    }

    .main-wrapper>.top {
        --top-height: 5vh;
    
        height: var(--top-height);
        display: flex;
        flex-direction: row;
    }
    
    .main-wrapper>.top>.latest-title {
        text-align: left;
    }

    .main-wrapper>.top>.search-bar {
        height: var(--top-height);
        width: 30vw;
    }

    .main-wrapper>.feed {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        --feed-item-size: var(--main-wrapper-width);
    }
}
@media (min-width:961px)  {
    .main-wrapper>.feed {
        grid-template-columns: repeat(2, 1fr);
        --feed-item-size: 30vw;
    }
}
@media (min-width:1025px)  {
    .main-wrapper {
        --main-wrapper-width: 90vw;
        margin-left: 5vw;
    }

    .main-wrapper>.feed {
        grid-template-columns: repeat(3, 1fr);
        --feed-item-size: 25vw;
    }
}
@media (min-width:1281px)  {
    .main-wrapper>.feed {
        grid-template-columns: repeat(3, 1fr);
        --feed-item-size: 25vw;
    }
}