:root {
    --footer-height: 15vh;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-right: 10vw;
    padding-left: 10vw;
    height: var(--footer-height);
    background: #003982;
    margin: 0;
    overflow: hidden;
    align-items: center;
}

footer>.left-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    height: var(--footer-height);
    justify-content: space-evenly;
}

footer>.left-wrapper>span {
    color: white;
    list-style: none;
    text-decoration: none;
    height: calc(var(--footer-height)/2);
    line-height: calc(var(--footer-height)/2);
}

footer>.left-wrapper>span>a {
    color: white;
    transition: all 0.2s ease;
}

footer>.left-wrapper>span>a:hover {
    color: white;
    color: rgb(200,200,200);
}

footer>ul {
    display: flex;
    flex-direction: row;
    height: var(--footer-height);
    justify-content: space-evenly;
}

footer>ul>li {
    color: white;
    list-style: none;
    text-decoration: none;
    margin-left: 2vw;
    line-height: var(--footer-height);
    height: var(--footer-height);
}

footer>ul>li>img {
    height: calc(var(--footer-height) - 20px);
    margin-top: 10px;
}

footer>ul>li>a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

footer>ul>li>a>ion-icon {
    line-height: var(--footer-height);
    height: var(--footer-height);
}

footer>ul>li>a:hover {
    color: rgb(200,200,200);
}

@media (max-width:600px)  {
    :root {
        --footer-height: 30vh;
    }

    footer {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
    }
    
    footer>.left-wrapper {
        height: calc(var(--footer-height) / 2);
        width: 100%;
    }
    
    footer>.left-wrapper>span {
        height: calc(var(--footer-height) / 6);
        line-height: calc(var(--footer-height) / 6);
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    footer>ul {
        height: calc(var(--footer-height) / 2);
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    footer>ul>li,footer>ul>li>a,footer>ul>li>a>ion-icon {
        height: calc(var(--footer-height) / 8);
        line-height: calc(var(--footer-height) / 8);
        font-size: 0.7rem;
        text-align: center;
    }
}