@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;

    --header-height: 4vh;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.main-wrapper {
    --main-wrapper-width: 100vw;
    width: var(--main-wrapper-width);
}

.main-wrapper>.hero-wrapper>img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    margin-top: -5vh;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.main-wrapper>.hero-wrapper>.text-holder {
    height: 50vh;
    width: 80vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    text-align: left;
    z-index: 1;
}

.main-wrapper>.hero-wrapper>.text-holder>span {
    color: #ffffff;
    font-weight: 800;
    font-size: 5rem;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.main-wrapper>.section .title {
    font-weight: 800;
    font-size: 2rem;
}

.main-wrapper>.section .desc {
    font-size: 1.3rem;
}

.main-wrapper>.what-is {
    min-height: 5vh;
    background: #006ddf;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.main-wrapper>.what-is>.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-wrapper>.what-is>.flex-container>* {
    margin-left: 15vw;
    width: 70vw;
}

.main-wrapper>.what-is>.flex-container>.title {
    color: #ffe627;
}

.main-wrapper>.what-is>.flex-container>.desc {
    width: 50vw;
    color: white;
    font-weight: 700;
}

.main-wrapper>.why-use {
    min-height: 5vh;
    background: #006ddf;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 5vh;
}

.main-wrapper>.why-use>.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.main-wrapper>.why-use>.flex-container>* {
    margin-left: 15vw;
    text-align: left;
    width: 70vw;
}

.main-wrapper>.why-use>.flex-container>.title {
    color: #ffe627;
}

.main-wrapper>.why-use>.flex-container>.desc {
    width: 50vw;
    color: white;
    font-weight: 700;
}

.main-wrapper>.how-much {
    min-height: 5vh;
    background: #006ddf;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 5vh;
}

.main-wrapper>.how-much>.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-wrapper>.how-much>.flex-container>* {
    margin-left: 15vw;
    width: 70vw;
}

.main-wrapper>.how-much>.flex-container>.title {
    color: #ffe627;
}

.main-wrapper>.how-much>.flex-container>.desc {
    width: 50vw;
    color: white;
    font-weight: 700;
}

@media (min-width:641px)  {
    .main-wrapper>.why-use>.flex-container {
        align-items: end;
    }
    .main-wrapper>.why-use>.flex-container>* {
        margin-right: 15vw;
        margin-left: 0;
        text-align: right;
    }
}
@media (min-width:961px)  {
}
@media (min-width:1025px)  {
}
@media (min-width:1281px)  {
}